{% extends "base.html" %}

{% block heading %}Login popup{% endblock %}

{% block script %}
    <script type="text/javascript">

        function closeAndUpdate()
        {
            if (window.opener) {
                window.opener.location.reload(true);
                window.close();
            }
        }

    closeAndUpdate();

    // To handle errors, this template should be integrated into your authentication error message page
    // Note that you can call any window.opener function like window.opener.func

    </script>

{% endblock %}
