*.pyc
.*.sw[po]
test*.db
local_settings.py
build/
dist/
django_social_auth.egg-info/
social_auth.egg-info/
env/
doc/_build
example/templates/script*.html
contrib/tests/test_settings.py
*.ipr
*.iws
*.DS_Store
Django-social-auth.iml
tags
Vagrantfile
.vagrant
.*project
.settings
.coverage
