{% extends "base.html" %}

{% block heading %}Login using any of the following methods{% endblock %}

{% block content %}
<div>
  <h3>Login using <a href="http://oauth.net/" title="OAuth">OAuth</a> from:</h3>
  <ul>
    <li><a rel="nofollow" href="{% url begin "twitter" %}">Twitter</a></li>
    <li><a rel="nofollow" href="{% url begin "facebook" %}">Facebook</a></li>
    <li><a rel="nofollow" href="{% url begin "linkedin" %}">Linkedin</a></li>
    <li><a rel="nofollow" href="{% url begin "orkut" %}">Orkut</a></li>
    <li><a rel="nofollow" href="{% url begin "google-oauth" %}">Google OAuth</a></li>
  </ul>
</div>

<div>
  <h3>Login using <a href="http://tools.ietf.org/html/draft-ietf-oauth-v2-10" title="OAuth2">OAuth2</a> from:</h3>
  <ul>
    <li><a rel="nofollow" href="{% url begin "google-oauth2" %}">Google OAuth2</a></li>
  </ul>
</div>

<div>
  <h3>Login using <a href="http://openid.net/" title="OpenId">OpenId</a> from:</h3>
  <ul>
    <li><a rel="nofollow" href="{% url begin "google" %}">Google</a></li>
    <li><a rel="nofollow" href="{% url begin "yahoo" %}">Yahoo</a></li>
    <li>
      <form action="{% url begin "livejournal" %}" method="post">{% csrf_token %}
        <div>
          <label for="openid_lj_user">LiveJournal user:</label>
          <input id="openid_lj_user" type="text" value="" name="openid_lj_user" />
          <input type="submit" value="Login"/>
        </div>
      </form>
    </li>
    <li>
      <form action="{% url begin "openid" %}" method="post">{% csrf_token %}
        <div>
          <label for="openid_identifier">Other provider</label>
          <input id="openid_identifier" type="text" value="" name="openid_identifier" />
          <input type="submit" value="Login" />
        </div>
        <p class="helptext">Like your personal <a href="https://www.myopenid.com/" title="My OpenId">myopenid</a></p>
      </form>
    </li>
  </ul>
</div>
{% endblock %}
